@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(249 250 251);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* All delay classes will take half the time to start */
:root {
  --animate-delay: 0.5s;
}
