@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(249 250 251);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* All delay classes will take half the time to start */
:root {
  --animate-delay: 0.5s;
}

.save-button {
  color: #fff !important;
}

.edit-button {
  background-color: #fff !important;
}

@media (min-width: 1024px) and (max-width: 1370px) {
  .ml-ipad {
    margin-left: -4rem !important /* -64px */;
  }
}
